<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form action="/user/forgot_pass_reset_password" method="POST">

    <input type="email" placeholder="email" name="email">

    <input type="text" placeholder="pasword" name="update_password">

    <button type="submit">submit</button>

</form>

</body>
</html>