<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salehub:'Treanding Fashion Here'</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />






    <link rel="stylesheet" type="text/css" href="../public/css/index.css" />





    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Angkor&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Angkor&family=Archivo+Black&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">



</head>


<body id="main_document">


    <header>

        <nav class="navbar border border-red-600">


            <ul class="list_holder">
                <li id="home_list"> <i class="bi bi-search"></i>
                    <%= typeof userid !=='undefined' && userid.username ? userid.username : 'home' %>
                </li>




                <ul class="sub_list_home d_none nav_home">

                    <li>COLLECTION</li>
                    <li>PRODUCT SINGLE</li>
                    <LI>INNER PAGES</LI>

                </ul>


                <li id="blog_list"><i class="bi bi-search"></i> Tranding</li>

                <li class="search_list"><i class="bi bi-search"></i> search</li>

                <ul class="sub_list_blog nav_blog d_none">
                    <li>About us</li>
                    <li>Rate US</li>
                    <li>our Vision</li>

                </ul>

                <a class="brand" style=" font-family: Cormorant Garamond,sans-serif;
                font-weight: 900;
                font-style: normal;">Salehub</a>


                <a href="user/">
                    <li>Sing Up</li>
                </a>

                <form action="/login" method="POST">

                <button type="submit">Submit</button>

                </form>


                <li class="account">account</li>

                <ul class="account_list d_none ">
                    <li><i class="bi bi-person-circle"></i> my Account</li>
                    <li><i class="bi bi-box2"></i> order</li>
                    <li><i class="bi bi-heart"></i> Wishlist</li>

                    <li><i class="bi bi-gift"></i> Gift card</li>




                </ul>




                <li><i class="bi bi-bag"></i>
                    My Cart</li>
            </ul>




        </nav>




    </header>










    <div class="search_area search_area_top ">

        <i id="icon" class="bi close bi-x" style="font-size: 2rem;"></i>

        <div class="search_box">

            <div class="search_box_contaner">

                <input type="text" placeholder="What Are You Looking For ?" class="search_input"> <span
                    class="search_box_search">Search</span>

            </div>

            <div class="search_trand">

                <span class="search_trand_hadd">search trend:</span> <span class="search_trand_item">denim ,jacket
                    ,t-shirt</span>
            </div>

        </div>

    </div>
















    <!--slider part here-->

    <section class="slider_sec">

        <div class="slider_contaner">




            <div class="slider1" id="slider">

                <div class="slide_text1 ml">New Collection</div>
                <div class="slide_text2 ml">Find your</div>
                <div class="slide_text3 ml">perfect</div>
                <div class="slide_text4 ml">Uncompromising in style, quality and performance</div>
                <div class="slide_text5 ml">shop the Collection</div>


            </div>






            <div class="slider2" id="slider">





                <div class="slide_text1 ml">New Collection</div>
                <div class="slide_text2 ml">Fashion</div>
                <div class="slide_text3 ml">Glasses</div>
                <div class="slide_text4 ml">Best eyeglasses for women to channel your inner Clark Kent</div>
                <div class="slide_text5 ml">shop the Collection</div>


            </div>








            <div class="slider3" id="slider">





                <div class="slide_text1 ml">FASHION TRENDS</div>
                <div class="slide_text2 ml">The Hotlist</div>
                <div class="slide_text3 ml">Summer</div>
                <div class="slide_text4 ml">The 12 Biggest Spring/Summer 2021 Trends</div>
                <div class="slide_text5 ml">shop the Collection</div>


            </div>









            <div class="slider4" id="slider">





                <div class="slide_text1 ml">New Collection</div>
                <div class="slide_text2 ml"> Fashion Trends</div>
                <div class="slide_text3 ml">party</div>
                <div class="slide_text4 ml">Uncompromising in style, quality and performance</div>
                <div class="slide_text5 ml">SHOP THE COLLECTION</div>


            </div>



            <div class="slider_dot">

                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>

            </div>

        </div>

    </section>






    <!-- DENIM COLLECTION section -->

    <section class="grid_card">


        <div class="grid_card_text">
            <h3 class="grid_card_hading">DENIM COLLECTION</h3>

            <p class="grid_card_para">Explore the best trends for girls and women at SaleHub! Clothes, shoes and cool
                accessories for a </p>

            <p>new season are available now at SaleHub online.</p>

        </div>


        <div class="grid_card_main">


            <div class="grid_card1 bg">

                <div class="grid_card_img">

                    <img src="/public/img/gridcard1.jpg" alt="">



                </div>





                <div class="grid_card1_text">

                    <h1 class="grid_card_hading">DENIM-JACKET</h1>

                    <p class="grid_card_para">14 Denim-Jacket Outfits to Live in Now That It Is Fal</p>

                    <p class="grid_card_button">SHOP THE COLLECTION</p>

                </div>



            </div>



            <!-- 2 start -->




            <div class="grid_card2 bg">


                <div class="grid_card2_img">


                    <img src="../public/img/gridcard2.jpg" alt="">


                </div>


                <div class="grid_card1_text">

                    <h1 class="grid_card_hading">DENIM-JEANS</h1>



                    <p class="grid_card_button">SHOP THE COLLECTION</p>

                </div>

            </div>








            <!-- 3 START -->


            <div class="grid_card3 bg">


                <div class="grid_card_img">

                    <img src="../public/img/gridcard3.jpg" alt="">

                </div>


                <div class="grid_card1_text">

                    <h1 class="grid_card_hading">HOODED DENIM</h1>



                    <p class="grid_card_button">SHOP THE COLLECTION</p>

                </div>

            </div>






        </div>




    </section>








    <!-- catalog section start -->



    <section class="catalog">


        <h1 class="catalog_hading">WE LOVE <i class="bi bi-heart-fill"></i>
        </h1>





        <div class="catalog_card">






            <!-- Swiper -->

            <div class="swiper mySwiper">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" id="">
                        <div class="image"><img src="../public/img/slide1image/image0.jpg" alt=""
                                id="catalog_image_main1">
                        </div>

                        <div class="hello">

                            <span class="swiper-slide_hading"><a href="">Eco Aware organic cotton top</a></span>

                            <span><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
                                    class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
                                    class="bi bi-star"></i></span>

                            <span class="price">$39.00</span>

                            <div class="circle_catalog">

                                <div class="circle_catalog1"><img src="../public/img/slide1image/image0.jpg" alt=""
                                        id="circle_catalog1"></div>

                                <div class="circle_catalog1"><img src="../public/img/slide1image/image1.jpg" alt=""
                                        id="circle_catalog1"></div>

                                <div class="circle_catalog1"><img src="../public/img/slide1image/image2.jpg" alt=""
                                        id="circle_catalog1"></div>


                            </div>

                            <div class="product_btn">

                                <button><a
                                        href="product/wish/?p_name=levis Western denim jacket &p_img=https://shorturl.at/1aOqW&p_price=55.99&p_gender=female&p_color=gray&p_id=ghy567">wishlist</a></button>
                                <button><a
                                        href="product/pd/?p_name=levis Western denim jacket &p_img=https://shorturl.at/1aOqW&p_price=55.99&p_gender=female&p_color=gray&p_id=ghy567">buynow</a></button>

                            </div>


                        </div>

                    </div>




                    <!-- slide2 -->



                    <div class="swiper-slide">

                        <div class="image"><img src="../public/img/slide2image/image0.jpg" alt=""
                                id="catalog_image_main2">
                        </div>

                        <div class="hello">

                            <span class="swiper-slide_hading"><a href="">Eco Aware organic cotton top</a></span>

                            <span><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
                                    class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
                                    class="bi bi-star"></i></span>

                            <span class="price">$39.00</span>

                            <div class="circle_catalog">

                                <div class="circle_catalog1"><img src="../public/img/slide2image/image0.jpg" alt=""
                                        id="circle_catalog2"></div>

                                <div class="circle_catalog1"><img src="../public/img/slide2image/image1.jpg" alt=""
                                        id="circle_catalog2"></div>

                                <div class="circle_catalog1"><img src="../public/img/slide2image/image2.jpg" alt=""
                                        id="circle_catalog2"></div>

                            </div>

                            <div class="product_btn">

                                <button><a href="">wishlist</a></button>
                                <button><a href="">buynow</a></button>

                            </div>


                        </div>

                    </div>







                    <!-- slide3 -->



                    <div class="swiper-slide">

                        <div class="image"><img src="../public/img/slide3image/image0.jpg" alt=""
                                id="catalog_image_main3">
                        </div>

                        <div class="hello">

                            <span class="swiper-slide_hading"><a href="">Eco Aware organic cotton top</a></span>

                            <span><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
                                    class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
                                    class="bi bi-star"></i></span>

                            <span class="price">$39.00</span>

                            <div class="circle_catalog">

                                <div class="circle_catalog1"><img src="../public/img/slide3image/image0.jpg" alt=""
                                        id="circle_catalog3"></div>

                                <div class="circle_catalog1"><img src="../public/img/slide3image/image1.jpg" alt=""
                                        id="circle_catalog3"></div>

                                <div class="circle_catalog1"><img src="../public/img/slide3image/image2.jpg" alt=""
                                        id="circle_catalog3"> </div>

                            </div>

                            <div class="product_btn">

                                <button><a href="">wishlist</a></button>
                                <button><a href="">buynow</a></button>

                            </div>


                        </div>

                    </div>













                    <!-- slide4 -->



                    <div class="swiper-slide">


                        <div class="image"><img src="../public/img/slide4image/image0.jpg" alt=""
                                id="catalog_image_main4">
                        </div>

                        <div class="hello">

                            <span class="swiper-slide_hading"><a href="">Eco Aware organic cotton top</a></span>

                            <span><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
                                    class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
                                    class="bi bi-star"></i></span>

                            <span class="price">$39.00</span>

                            <div class="circle_catalog">

                                <div class="circle_catalog1"><img src="../public/img/slide4image/image0.jpg" alt=""
                                        id="circle_catalog4"></div>

                                <div class="circle_catalog1"><img src="../public/img/slide4image/image1.jpg" alt=""
                                        id="circle_catalog4"></div>

                                <div class="circle_catalog1"><img src="../public/img/slide4image/image2.jpg" alt=""
                                        id="circle_catalog4"></div>

                            </div>

                            <div class="product_btn">

                                <button><a href="">wishlist</a></button>
                                <button><a href="">buynow</a></button>

                            </div>


                        </div>



                    </div>










                    <!-- slide5 -->





                    <div class="swiper-slide">

                        <div class="image"><img src="../public/img/slide5image/image0.jpg" alt=""
                                id="catalog_image_main5">
                        </div>

                        <div class="hello">

                            <span class="swiper-slide_hading"><a href="">Eco Aware organic cotton top</a></span>

                            <span><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
                                    class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
                                    class="bi bi-star"></i></span>

                            <span class="price">$39.00</span>

                            <div class="circle_catalog">

                                <div class="circle_catalog1"><img src="../public/img/slide5image/image0.jpg" alt=""
                                        id="circle_catalog5"></div>

                                <div class="circle_catalog1"><img src="../public/img/slide5image/image1.jpg" alt=""
                                        id="circle_catalog5"></div>

                                <div class="circle_catalog1"><img src="../public/img/slide5image/image2.jpg" alt=""
                                        id="circle_catalog5"></div>

                            </div>

                            <div class="product_btn">

                                <button><a href="">wishlist</a></button>
                                <button><a href="">buynow</a></button>

                            </div>


                        </div>




                    </div>









                    <!-- 
            slide6 -->



                    <div class="swiper-slide">


                        <div class="image"><img src="../public/img/slide6image/image0.jpg" alt=""
                                id="catalog_image_main6">
                        </div>

                        <div class="hello">

                            <span class="swiper-slide_hading"><a href="">Eco Aware organic cotton top</a></span>

                            <span><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
                                    class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
                                    class="bi bi-star"></i></span>

                            <span class="price">$39.00</span>

                            <div class="circle_catalog">

                                <div class="circle_catalog1"><img src="../public/img/slide6image/image0.jpg" alt=""
                                        id="circle_catalog6"></div>

                                <div class="circle_catalog1"><img src="../public/img/slide6image/image1.jpg" alt=""
                                        id="circle_catalog6"></div>

                                <div class="circle_catalog1"><img src="../public/img/slide6image/image2.jpg" alt=""
                                        id="circle_catalog6"></div>

                            </div>


                            <div class="product_btn">

                                <button><a href="">wishlist</a></button>
                                <button><a href="">buynow</a></button>

                            </div>


                        </div>


                    </div>











                    <!-- slide7 -->




                    <div class="swiper-slide">

                        <div class="image"><img src="../public/img/slide7image/image0.jpg" alt=""
                                id="catalog_image_main7">
                        </div>

                        <div class="hello">

                            <span class="swiper-slide_hading"><a href="">Eco Aware organic cotton top</a></span>

                            <span><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
                                    class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
                                    class="bi bi-star"></i></span>

                            <span class="price">$39.00</span>

                            <div class="circle_catalog">

                                <div class="circle_catalog1"><img src="../public/img/slide7image/image0.jpg" alt=""
                                        id="circle_catalog7"></div>

                                <div class="circle_catalog1"><img src="../public/img/slide7image/image1.jpg" alt=""
                                        id="circle_catalog7"></div>

                                <div class="circle_catalog1"><img src="../public/img/slide7image/image2.jpg" alt=""
                                        id="circle_catalog7"></div>

                            </div>

                            <div class="product_btn">

                                <button><a href="">wishlist</a></button>
                                <button><a href="">buynow</a></button>

                            </div>


                        </div>


                    </div>












                    <!-- slide8 -->


                    <div class="swiper-slide">

                        <div class="image"><img src="../public/img/slide8image/image0.jpg" alt=""
                                id="catalog_image_main8">
                        </div>

                        <div class="hello">

                            <span class="swiper-slide_hading"><a href="">Eco Aware organic cotton top</a></span>

                            <span style="cursor: pointer;"><i class="bi bi-star-fill"></i> <i
                                    class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
                                    class="bi bi-star"></i> <i class="bi bi-star"></i></span>

                            <span class="price">$39.00</span>

                            <div class="circle_catalog">

                                <div class="circle_catalog1"><img src="../public/img/slide8image/image0.jpg" alt=""
                                        id="circle_catalog8"></div>

                                <div class="circle_catalog1"><img src="../public/img/slide8image/image1.jpg" alt=""
                                        id="circle_catalog8"></div>

                                <div class="circle_catalog1"><img src="../public/img/slide8image/image2.jpg" alt=""
                                        id="circle_catalog8"></div>

                            </div>


                            <div class="product_btn">

                                <button><a href="">wishlist</a></button>
                                <button><a href="">buynow</a></button>

                            </div>


                        </div>

                    </div>



                    <!-- slide coding end -->











                </div>
                <div class="swiper-pagination"></div>
            </div>




        </div>



    </section>











    <!-- your website video coding start -->



    <section class="web_video">


        <div class="video">

            <video autoplay muted loop>

                <source src="../public/video/sale_hub_video.mp4" type="video/mp4">


            </video>


            <div class="video_text">

                <p
                    style="font-size:16px; font-weight: bolder; font-family: poppins,sans-serif;text-align: center;margin-top: 6rem;">
                    New arrivals</p>

                <h1 style="font-size: 60px; font-family:poppins,sans-serif; font-weight: bolder;text-align: center;">
                    Autumn is Coming</h1>

                <p class="v_text" style="font-size:16px;  font-family: poppins,sans-serif;text-align: center; ">The 11
                    Biggest Autumn/Winter 2021 Trends</p>

                <p
                    style="font-size:16px; font-weight: bolder; font-family: poppins,sans-serif;text-align: center; margin-top: 4rem;">
                    BY VINOVATHEME</p>

                <p style="font-size:13px;  font-family: poppins,sans-serif;text-align: center;">11 NOVEMBER 2021</p>


                <button>VIEW MORE <i class="bi bi-arrow-right-short"
                        style="font-size: 1.3rem;display: none;"></i></button>


            </div>


        </div>


    </section>
















    <!-- 
Featured Product coding start -->



    <section class="Featured_product">



        <div class="Featured_hading" style="font-size: 2rem; font-family:poppins,sans-serif;font-weight: bolder;">
            FEATURED PRODUCT</div>


        <div class="product_contaner">

            <div class="product_image">


                <img src="../public/img/product_image/image0_olivegreen.jpg" alt="" id="product_image">


            </div>











            <div class="product_detail">


                <div class="product_link"><a href="">Levi's essential Western denim Shirt</a></div>


                <div class="product_star"><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i
                        class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-half"></i>
                </div>



                <div class="product_price" style="font-size: 1.1rem;font-weight: bolder;">$120.00</div>


                <div class="product_color" style="font-size:12px;font-weight: bolder;font-family: sans-serif;">
                    Color: <span id="product_color">Olivegreen</span></div>


                <div class="product_color_panel">

                    <div class="color_circle curser_pointer" id="Olivegreen"></div>
                    <div class="color_circle curser_pointer" id="Black"></div>
                    <div class="color_circle curser_pointer" id="Peich"></div>
                    <div class="color_circle curser_pointer" id="satewhite"></div>
                    <div class="color_circle curser_pointer" id="purple"></div>


                </div>


                <div class="product_size" style="font-size:12px;font-family:poppins,sans-serif;font-weight: bolder;">
                    Size: <span id="product_size">S</span></div>





                <div class="product_size_panel">


                    <div class="product_panel_box" id="XS">XS</div>
                    <div class="product_panel_box" id="S">S</div>
                    <div class="product_panel_box dis" id="M">M <i class="bi bi-envelope-fill"></i></div>
                    <div class="product_panel_box" id="L">L</div>
                    <div class="product_panel_box dis" id="XL">XL <i class="bi bi-envelope-fill"></i></div>




                </div>








                <div class="product_add_to_bag"><a href="">ADD TO BAG</a> <i class="bi bi-arrow-right"
                        style="font-size: 1.3rem;margin-left: 1rem;"></i></div>






                <div class="product_add_to_bag  product_payment"><a href="">BUY WITH PAYPAL</a></div>



                <div class="product_size_chat" style="font-size: 12px;">SIZE CHART</div>


                <div class="product_review" style="font-family:poppins,sans-serif;">Steele's Lena Dress features a
                    smocked bust, off the shoulder sleeves with eyelet design, and mini cut skirt with raw hem.</div>



            </div>






        </div>



        <div class="size_notyfy_box" heidden>



            <div class="notyfybox">

                <div class="notyfy_box_closer"><i class="bi bi-x" style="font-size:1.8rem"></i></div>

                <div style="font-size: 1.3rem;font-weight: 700; font-family:poppins,sans-serif;">This product is
                    currently out of stock</div>

                <div
                    style="width: 49%; text-align: center; font-size:0.9rem;font-family:poppins,sans-serif;line-height: 21px;margin-top:1rem ;color:#807b7b">
                    Register so we can email you as soon as its becomes available!</div>

                <input type="email" placeholder="your email">

                <button><i class="bi bi-envelope-fill"></i> NOITIFY ME</button>

                <div style="width: 70%; margin-top: 2rem;line-height: 20px;font-size:0.8rem;color:#5d5b5b;">Yes, I would
                    like to be notified by email about this product, and to receive emails from SaleHub
                    with the latest deals, sales, and updates. I agree to SaleHubs Terms of Service and Privacy Policy
                </div>

            </div>


        </div>





    </section>



    <!-- 
        Featured Product coding end -->














    <!-- shop the look coding start -->


    <section class="shop_the_look">


        <div class="shopthelook_headline" style="font-size: 2rem;
            font-family: poppins,sans-serif; font-weight:bolder;">Shop The Looks</div>


        <div class="shopthelook_paragraph" style="font-size: 15px;font-family:poppins,sans-serif ;">Our latest endeavour
            features designs from around the world with materials so comfortable you won't want to wear anything else
            every again</div>





        <div class="shop_the_look_grid_layout">


            <div class="shop_look_grid_item1">


                <img src="../public/img/shop_the_look_img/image_0.jpg" alt="" id="shop_look_img">


                <div class="shop_look_text">

                    <button>VIEW MORE</button>
                </div>

            </div>









            <div class="shop_look_grid_item1">
                <img src="../public/img/shop_the_look_img/image_1.jpg" alt="" id="shop_look_img">


                <div class="shop_look_text">

                    <button>VIEW MORE</button>
                </div>


            </div>





            <div class="shop_look_grid_item1">
                <img src="../public/img/shop_the_look_img/image_2.jpg" alt="" id="shop_look_img">


                <div class="shop_look_text">

                    <button>VIEW MORE</button>
                </div>

            </div>







            <div class="shop_look_grid_item1">
                <img src="../public/img/shop_the_look_img/image_3.jpg" alt="" id="shop_look_img">


                <div class="shop_look_text">

                    <button>VIEW MORE</button>
                </div>

            </div>






            <div class="shop_look_grid_item1">
                <img src="../public/img/shop_the_look_img/image_4.jpg" alt="" id="shop_look_img">



                <div class="shop_look_text">

                    <button>VIEW MORE</button>
                </div>



            </div>





            <div class="shop_look_grid_item1">
                <img src="../public/img/shop_the_look_img/image_5.jpg" alt="" id="shop_look_img">


                <div class="shop_look_text">

                    <button>VIEW MORE</button>
                </div>


            </div>




            <div class="shop_look_grid_item1">
                <img src="../public/img/shop_the_look_img/image_6.jpg" alt="" id="shop_look_img">


                <div class="shop_look_text">

                    <button>VIEW MORE</button>
                </div>


            </div>







            <div class="shop_look_grid_item1">
                <img src="../public/img/shop_the_look_img/image_7.jpg" alt="" id="shop_look_img">


                <div class="shop_look_text">

                    <button>VIEW MORE</button>
                </div>


            </div>





        </div>




    </section>









    <div class=""
        style="text-align:center; margin-top: 6rem; font-size:2.3rem; font-family: 'poppins',sans-serif;font-weight: bolder;">
        From Our Blog</div>





    <section class="From_Our_Blog">


        <div class="card_data">

            <div class="card_image">

                <img src="../public/img/blog_image/blog1.webp" alt="">
            </div>


            <div class="blog_card_text">

                <div class="text_holder">

                    <a href="">
                        <div
                            style="font-size:1rem; font-family: 'poppins',sans-serif;  text-transform: capitalize; font-weight: bolder;">
                            5 sweet outfit ideas</div>
                    </a>

                    <a href="">
                        <div
                            style="font-size:1rem; font-family: 'poppins',sans-serif;  text-transform: capitalize; font-weight: bolder;">
                            you'll wear well</div>
                    </a>

                    <a href="">
                        <div
                            style="font-size:1rem; font-family: 'poppins',sans-serif;  text-transform: capitalize; font-weight: bolder;">
                            you'll wear well</div>
                    </a>

                    <a href="">
                        <div
                            style="font-size:1rem; font-family: 'poppins',sans-serif;  text-transform: capitalize; font-weight: bolder;">
                            beyond valentine's day</div>
                    </a>

                </div>

                <div
                    style="font-size:0.9rem; font-family: 'poppins',sans-serif; padding:0px 1.5rem ;line-height:25px; color:gray">
                    Valentine's Day 2021 has no choice but
                    to unfold rather differently than usual, so we already know
                    it will be one to remember.
                    ...</div>


                <div>

                    <div
                        style="font-size:0.8rem; font-family: 'poppins',sans-serif; font-weight: bolder; text-transform: capitalize; padding: 0rem 1.5rem; padding-top: 1.5rem;">
                        by vinova theme</div>

                    <div
                        style="font-size:0.8rem; font-family: 'poppins',sans-serif; font-weight: bolder; text-transform: capitalize;padding: 0px 1.5rem; color:gray">
                        3 mar 2021</div>

                </div>

            </div>

        </div>




        <div class="card_data">

            <div class="card_image">

                <img src="../public/img/blog_image/blog2.webp" alt="">
            </div>


            <div class="blog_card_text">

                <div class="text_holder">

                    <a href="">
                        <div
                            style="font-size:1rem; font-family: 'poppins',sans-serif;  text-transform: capitalize; font-weight: bolder;">
                            5 sweet outfit ideas</div>
                    </a>

                    <a href="">
                        <div
                            style="font-size:1rem; font-family: 'poppins',sans-serif;  text-transform: capitalize; font-weight: bolder;">
                            you'll wear well</div>
                    </a>

                    <a href="">
                        <div
                            style="font-size:1rem; font-family: 'poppins',sans-serif;  text-transform: capitalize; font-weight: bolder;">
                            you'll wear well</div>
                    </a>

                    <a href="">
                        <div
                            style="font-size:1rem; font-family: 'poppins',sans-serif;  text-transform: capitalize; font-weight: bolder;">
                            beyond valentine's day</div>
                    </a>

                </div>

                <div
                    style="font-size:0.9rem; font-family: 'poppins',sans-serif; padding:0px 1.5rem ;line-height:25px; color:gray">
                    Valentine's Day 2021 has no choice but
                    to unfold rather differently than usual, so we already know
                    it will be one to remember.
                    ...</div>


                <div>

                    <div
                        style="font-size:0.8rem; font-family: 'poppins',sans-serif; font-weight: bolder; text-transform: capitalize; padding: 0rem 1.5rem; padding-top: 1.5rem;">
                        by vinova theme</div>

                    <div
                        style="font-size:0.8rem; font-family: 'poppins',sans-serif; font-weight: bolder; text-transform: capitalize;padding: 0px 1.5rem; color:gray">
                        3 mar 2021</div>

                </div>

            </div>

        </div>




        <div class="card_data">

            <div class="card_image">

                <img src="../public/img/blog_image/blog3.webp" alt="">
            </div>


            <div class="blog_card_text">

                <div class="text_holder">

                    <a href="">
                        <div
                            style="font-size:1rem; font-family: 'poppins',sans-serif;  text-transform: capitalize; font-weight: bolder;">
                            5 sweet outfit ideas</div>
                    </a>

                    <a href="">
                        <div
                            style="font-size:1rem; font-family: 'poppins',sans-serif;  text-transform: capitalize; font-weight: bolder;">
                            you'll wear well</div>
                    </a>

                    <a href="">
                        <div
                            style="font-size:1rem; font-family: 'poppins',sans-serif;  text-transform: capitalize; font-weight: bolder;">
                            you'll wear well</div>
                    </a>

                    <a href="">
                        <div
                            style="font-size:1rem; font-family: 'poppins',sans-serif;  text-transform: capitalize; font-weight: bolder;">
                            beyond valentine's day</div>
                    </a>

                </div>

                <div
                    style="font-size:0.9rem; font-family: 'poppins',sans-serif; padding:0px 1.5rem ;line-height:25px; color:gray">
                    Valentine's Day 2021 has no choice but
                    to unfold rather differently than usual, so we already know
                    it will be one to remember.
                    ...</div>


                <div>

                    <div
                        style="font-size:0.8rem; font-family: 'poppins',sans-serif; font-weight: bolder; text-transform: capitalize; padding: 0rem 1.5rem; padding-top: 1.5rem;">
                        by vinova theme</div>

                    <div
                        style="font-size:0.8rem; font-family: 'poppins',sans-serif; font-weight: bolder; text-transform: capitalize;padding: 0px 1.5rem; color:gray">
                        3 mar 2021</div>

                </div>

            </div>

        </div>











    </section>









    <section class="contact_model">



        <div class="container">

            <div class="info-box">

                <div> <i class="bi bi-truck"></i> Free Shipping</div>

                <div>On all US orders or orders above $99</div>

            </div>

            <div class="info-box">

                <div> <i class="bi bi-telephone-forward"></i> Support 24/7</div>

                <div>Contact us 24 hours a day, 7 days a week</div>

            </div>

            <div class="info-box">

                <div> <i class="bi bi-arrow-left-right"></i> 30 Days Return</div>

                <div>Simply return it within 30 days for an exchange</div>

            </div>

        </div>



    </section>













    <footer>


        <div class="footer_part1">

            <div class="footer_brand">

                <div style="font-size:2.5rem; font-weight: bolder;">salehub</div>

                <div style="font-size: 1rem; margin-top: 2rem;">We’re available by phone +123-456-789</div>
                <div style="font-size: 1rem; padding: 0.8rem 0rem;">info@example.com</div>
                <div style="font-size: 1rem;">Monday till Friday 10 to 6 EST</div>

                <div class="footer_pay_img">


                </div>

            </div>


            <!-- about sec -->


            <div class="footer_aboutus">

                <ul>

                    <li><a href="" style="font-size: 1.5rem; color:black; font-weight: bolder;">about us</a></li>
                    <li><a href="">about us</a></li>
                    <li><a href="">contact us</a></li>
                    <li><a href="">factories</a></li>
                    <li><a href="">careers</a></li>
                    <li><a href="">help and advice</a></li>
                    <li><a href="">shoping and return</a></li>
                    <li><a href="">terms and conditions</a></li>
                    <li><a href="">refund</a></li>

                </ul>

            </div>




            <div class="footer_ourshop">

                <ul>

                    <li><a href="" style="font-size: 1.5rem; color:black; font-weight: bolder;">our shop</a></li>
                    <li><a href="">New Arrivals</a></li>
                    <li><a href="">Top Trending</a></li>
                    <li><a href="">Autumn Collection</a></li>
                    <li><a href="">Back in Stock</a></li>
                    <li><a href="">Bikini Tops</a></li>
                    <li><a href="">Bikini Bottoms</a></li>
                    <li><a href="">Swimwear</a></li>
                    <li><a href="">Denim Collection</a></li>

                </ul>

            </div>





        </div>





        <div class="footer_from">


            <div class="from_contaner">

                <div style="font-size: 1.5rem; color:black; font-weight: bolder;">Newsletter</div>

                <div style="font-size: 1rem; margin-top: 1.5rem;">Receive our weekly newsletter.</div>

                <div style="font-size: 1rem; margin-top: 0.7rem; margin-bottom: 2rem;">For dietary content, fashion
                    insider and the best offers.</div>


                <div class="footer_from_input">

                    <input type="email" placeholder="Email Address">

                    <button>join</button>

                </div>

                <div class="footer_form_icon">


                </div>


            </div>





            <div class="footer_copy_eright">


                <div>Copyright © 2021 Vinovathemes. All rights reserved.</div>

                <div>

                    Privacy Policy|
                    Terms of Use |
                    FA |</div>

            </div>





        </div>











    </footer>





























    <script src="../public/js/nav.js"></script>

    <script src="../public/js/slider.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>

        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });

    </script>





    <script src="../public/js/index.js"></script>

</body>

</html>