@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=League+Spartan&family=Poppins:ital,wght@0,200;0,300;1,100&family=Yellowtail&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=League+Spartan&family=Poppins:ital,wght@0,200;0,300;0,400;1,100&family=Yellowtail&display=swap');


:root {
    --font1: 'Poppins', sans-serif;
    --font2: 'League Spartan', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;

    position: sticky;
    top: 0;
    z-index: 200;

}

.navbar {

    background: rgba(245, 245, 245, 0.946);
    display: flex;

    width: 100%;
    position: sticky;
    top: 0;
    z-index: 200;


}

.list_holder {

    display: flex;

    height: 20vh;

    align-items: center;
    list-style: none;
    margin-left: 1rem;
    gap: 2rem;
}

.brand {
    font-size: 4rem;

    margin-left: 1.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
    font-family: var(--font2);

}

.list_holder li {


    font-size: 1.2rem;
    text-transform: capitalize;
    cursor: pointer;
    font-family: var(--font2);
    position: relative;
}

.sub_list_home {
    background: whitesmoke;
    position: absolute;
    top: 8.3rem;
    list-style: none;
    min-width: 30vw;
    left: 1.5rem;
    height: 45vh;


}

.sub_list_home li {
    padding: 2rem 0px;
    margin-left: 1rem;
}

.sub_list_blog {

    background: whitesmoke;
    position: absolute;
    top: 8.3rem;
    list-style: none;
    min-width: 30vw;
    left: 10rem;
    transition: 0.3s ease-in;
    height: 40vh;
}



.sub_list_blog li {
    padding: 1.6rem 0px;

    margin-left: 1rem;
}

.d_none {
    display: none;
}

.list_holder li:after {

    content: "";
    position: absolute;

    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.list_holder li:hover::after {
    width: 100%;
    background-color: black;
}


@media screen and (min-width: 1200px) and (max-width: 1439px) {




    .list_holder {


        display: flex;
        gap: 5rem;
    }

    .list_holder li {

        font-size: 1.3rem;
    }

    .navbar {


        display: flex;
        justify-content: center;
        align-items: center;

    }



}




#user_pop_up {

    border: 1px solid red;
    position: absolute;
    width: fit-content;
    padding: 1rem;
    left: 800px;

}




















.search_area {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 50;
    align-items: center;
    position: fixed;
    transition: 0.5s ease-in-out;

    background: whitesmoke;




}

.search_area_top {
    transform: translateY(-80rem);
}


.close {
    margin-top: 2rem;
}


.search_box {

    margin-top: 4rem;
}

.search_input {
    width: 80vw;

    height: 5vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    background: whitesmoke;
}

.search_input:focus {
    outline: none;
}


.search_input::placeholder {
    font-size: 1.1REM;
}


.search_box_search {
    font-size: 1.1rem;
    font-family: var(--font1);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.close {
    cursor: pointer;
}

.close:hover {
    transform: scale(1.3);
}


.search_box_contaner {
    border: none;
    border-bottom: 2px solid black;

}


.search_trand {
    margin-top: 1.5rem;
    font-family: var(--font1);

}

.search_trand_hadd {
    font-weight: bold;
    font-size: 0.9rem;
}

.search_trand_item {
    font-size: 0.9rem;
    color: #b4b4b4;
}

.account_list {

    position: absolute;
    top: 130px;
    right: 100px;
    list-style: none;
    height: auto;
    width: 20%;

    background-color: whitesmoke;
}

.account_list li {
    padding: 1rem;
    margin-left: 1rem;


}



















/* 
slider css start */


:root {
    --color_slider_text: white;
}

.slider img {
    width: 100%;
    max-height: 90vh;
    opacity: 1;
}

.slider_text {

    position: absolute;
    bottom: 5rem;
    color: whitesmoke;
    margin-left: 1.5rem;
}

.slide_text1 {
    font-size: 2rem;
    font-family: var(--font1);
    font-weight: bold;
    padding-top: 2rem;
    color: var(--color_slider_text)
}

.slide_text2 {
    font-size: 4.2rem;
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: bolder;
    color: var(--color_slider_text)
}

.slide_text3 {
    font-size: 6rem;
    font-family: var(--font1);
    font-weight: bolder;
    text-transform: uppercase;
    opacity: 2;

    color: var(--color_slider_text);
}

.slide_text4 {
    font-size: 1.3rem;
    font-family: var(--font2);
    color: var(--color_slider_text)
}

.slide_text5 {
    color: black;
    background-color: white;
    width: fit-content;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: bolder;
    padding: 1.2rem 1.4rem;
    margin-top: 1.3rem;
    cursor: pointer;
    transition: 0.5s ease-in;
    transition-duration: 5s;
    animation: fillcolor 0.5s 1s infinite;
}

.slide_text5:hover {
    background-color: black;

    color: white;
}


.slider1 {

    width: 100%;
    height: 90vh;
    background: url(../img/slider1img.jpg);
    background-size: cover;
    background-position: top;
}




.slider2 {

    width: 100%;
    height: 90vh;
    background: url(../img/slide2img.jpg);
    background-size: cover;
    background-position: top;

}


.slider3 {

    width: 100%;
    height: 90vh;
    background: url(../img/slider3img.jpg);
    background-size: cover;
    background-position: top;

}





.slider4 {

    width: 100%;
    height: 90vh;
    background: url(../img/slider4img.jpg);
    background-size: cover;
    background-position: top;

}



.ml {

    margin-left: 1.5rem;
}

.mt {
    margin-top: 2rem;
}

.slider_dot {
    position: absolute;

    bottom: 1rem;
    display: flex;

}

.dot {
    padding: 0.4rem 1.5rem;


    border-radius: 10px;
    margin-left: 1rem;
    cursor: pointer;
    background: rgba(245, 245, 245, 0.486);

}

.bg_color {
    background-color: whitesmoke;
}


/* Media Query for Large Screen Desktops */
@media screen and (min-width: 1200px) and (max-width: 1439px) {
    .slider_text {
        bottom: 8rem;
        margin-left: 3rem;
    }

    .slide_text1 {
        font-size: 2.5rem;
    }

    .slide_text2 {
        font-size: 5rem;
    }

    .slide_text3 {
        font-size: 7rem;
    }

    .slide_text4 {
        font-size: 1.5rem;
    }

    .slide_text5 {
        font-size: 1.2rem;
        padding: 1.5rem 1.8rem;
    }

    .ml {
        margin-left: 3rem;
    }

    .mt {
        margin-top: 3rem;
    }

    .dot {
        padding: 0.5rem 2rem;
        margin-left: 1.5rem;
    }
}

















/* catalog css */








.catalog_hading {

    text-align: center;
    /* font-family: var(--font1); */
    /* font-weight:bolder; */
    font-size: 2.4rem;
    padding-bottom: 1.5rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
}



body {
    position: static;
    height: 100%;
}



body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.catalog_hading {

    text-align: center;

}

.swiper {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    width: 100%;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 80%;
    background-color: white;
}

.swiper-slide .image {

    width: 22.5vw;
    height: 50vh;


}

.swiper-slide .image img {

    width: 100%;
    height: 100%;

}

.hello {

    padding-top: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    height: 28vh;

}

.swiper-slide_hading a {

    text-decoration: none;
    color: black;


}



.bi-star-fill,
.bi-star {

    font-size: 1rem;

}

.circle_catalog {

    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 12vw;
}

.circle_catalog :nth-child(2) {
    margin-left: 0.7rem;
}

.circle_catalog :nth-child(3) {
    margin-left: 0.7rem;
}

.circle_catalog :nth-child(1) {
    border: 1px solid black;
}

.circle_catalog1:hover {
    border: 1px solid black;
}

.circle_catalog1 {

    width: 2.2vw;
    height: 4.2vh;
    border: 1px solid gray;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;


}

.circle_catalog1 img {

    width: 100%;
}

.price {
    cursor: pointer;
}


.bi-star-fill,
.bi-star {

    font-size: 1rem;
    cursor: pointer;
}



/* Media Query for Large Screen Desktops */
@media screen and (min-width: 1200px) and (max-width: 1439px) {

    body {
        font-size: 16px;
        /* Increase font size for better readability */
    }

    .swiper-slide {
        width: 60%;
        height: 80vh;
        /* Adjust slide width for larger screens */
    }

    .swiper-slide .image {
        width: 20vw;
        /* Adjust image width */
        height: 45vh;
        /* Adjust image height */
    }

    .circle_catalog {
        width: 10vw;
        /* Adjust circle catalog width */
    }

    .hello {
        padding-left: 2rem;
        /* Adjust padding for better spacing */
        padding-right: 2rem;
        /* Adjust padding for better spacing */
    }
}

.product_btn {
    display: flex;

    width: 100%;
    gap: 1rem;

}

.product_btn button {

    margin-top: 1rem;

    background-color: red;
    border: none;
    color: white;
    padding: 10px 30px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;

    cursor: pointer;
    border-radius: 10px;
}

.product_btn button a {
    text-decoration: none;
    color: white;
}










/* contact model .css */


.container {

    width: 100%;

    margin: auto;

    overflow: hidden;
    display: flex;

}

.info-box {

    width: 100%;

    float: left;

    padding: 20px;

    background-color: #ffffff;

    box-sizing: border-box;

    text-align: center;

    border: 1px solid #dddddd;

    margin: 20px;

    display: flex;


}

.bi-truck,
.bi-telephone-forward,
.bi-arrow-left-right {

    font-size: 1.5rem;

}














/* 
featured_product.css */



.Featured_product {


    width: 100%;
    position: relative;


}

.Featured_hading {

    text-align: center;
    padding-top: 6.5rem;
    width: 100%;
}

.product_contaner {

    display: flex;
    justify-content: space-between;

}

.product_image {

    width: 46%;
    height: 100vh;
    margin-left: 2rem;
    margin-top: 2.8rem;
    overflow: hidden;

}

.product_image img {

    width: 100%;
    height: 100%;
}









.product_detail {


    width: 43%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

}


.product_link {


    font-size: 1.3rem;
    font-family: poppins sans-serif;
    font-weight: bold;
    color: rgb(16, 15, 15);

}

.product_link a {

    color: rgb(16, 15, 15);
    text-decoration: none;
}




.product_color_panel {

    display: flex;
    gap: 1rem;

}


.color_circle {

    border: 1px solid black;
    width: 2.7vw;
    height: 5vh;
    border-radius: 50%;

}

.color_circle:nth-child(1) {

    background-color: darkolivegreen;

}


.color_circle:nth-child(2) {

    background-color: rgb(9, 8, 8);

}


.color_circle:nth-child(3) {

    background-color: rgb(234, 108, 108);

}

.color_circle:nth-child(4) {

    background-color: rgb(223, 211, 211);

}

.color_circle:nth-child(5) {

    background-color: darkslateblue;

}


.product_panel_box {
    border: 1px solid black;
    width: 3.5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}


.product_panel_box:nth-child(3) {
    border: 1px solid rgb(213, 209, 209);
    width: 7vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: rgba(231, 223, 223, 0.779);
    color: rgba(173, 171, 171, 0.779);

}


.product_panel_box:nth-child(5) {
    border: 1px solid rgb(188, 188, 188);
    width: 7vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(231, 223, 223, 0.779);
    color: rgba(173, 171, 171, 0.779);

}


.product_size_panel {

    display: flex;
    gap: 1.2rem;

    width: 40vw;
}


.product_add_to_bag {


    width: 30vw;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 200, 200);
}

.product_add_to_bag a {

    text-decoration: none;
    color: black;
    font-family: poppins, sans-serif;
    font-weight: bolder;
}

.product_add_to_bag .bi-arrow-right {

    display: none;
}

.product_add_to_bag:hover {
    background-color: black;
    color: white;
}

.product_add_to_bag:hover a {

    color: white;
}

.product_add_to_bag:hover .bi-arrow-right {

    display: block;
    transition: all 0.5s ease-in;
}

.product_payment {
    background-color: rgb(246, 225, 120);
}

.product_payment:hover {
    background-color: rgba(247, 188, 78, 0.944);

}

.product_payment:hover a {
    color: black;

}



.curser_pointer {

    cursor: pointer;
}

.size_notyfy_box {


    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.notyfybox {

    background-color: rgb(246, 242, 242);

    width: 60%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notyfybox input {

    width: 70%;
    height: 7vh;
    border: 1px solid black;
    margin-top: 2rem;
    text-align: center;

}

.notyfybox input:focus {

    outline: none;
}


.notyfybox button {

    width: 70%;
    height: 7vh;
    border: none;
    outline: none;
    margin-top: 0.9rem;
    font-size: 0.9rem;
    font-weight: bolder;
    font-family: 'poppins', sans-serif;
    background-color: #d5d1d1;
    cursor: pointer;

}


.notyfy_box_closer {


    position: relative;
    bottom: 40px;
    left: 280px;
    cursor: pointer;

}

.notyfy_box_closer .bi:hover {

    color: red;

    transform: rotate(30deg);
}



@media screen and (min-width: 1200px) and (max-width: 1439px) {


    .notyfy_box_closer {


        position: relative;
        bottom: 110px;
        left: 400px;
        cursor: pointer;


    }

}










/* footer .css */




.footer_part1 {


    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer_aboutus {

    margin-top: 8rem;
}

.footer_ourshop {

    margin-top: 8rem;
}


.footer_aboutus ul li a {
    text-decoration: none;
    color: rgb(81, 78, 78);
    font-size: 1rem;

}



.footer_aboutus ul {
    list-style: none;
    line-height: 2.5rem;
    text-transform: capitalize;
}


.footer_ourshop ul li a {

    text-decoration: none;
    color: rgb(81, 78, 78);
    font-size: 1rem;
}



.footer_ourshop ul {
    list-style: none;
    line-height: 2.5rem;
    text-transform: capitalize;

}

.from_contaner {


    margin-left: 2rem;
}


.footer_from_input input {

    width: 30%;

    padding: 0.7rem;
    border: 1px solid black;



}


.footer_from_input input:focus {

    outline: none;
}

.footer_from_input button {

    width: 7%;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    padding: 0.8rem;
    font-size: 0.8rem;
    font-weight: bolder;

}


.footer_from_input button:hover {

    width: 9%;

    transition: all 0.3s ease-in;
    transition-duration: 300;

}

.footer_copy_eright {

    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
}











/* from our blog */



.From_Our_Blog {



    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    margin-top: 3rem;


}

.From_Our_Blog .card_image {




    display: flex;

    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease-in;
    transition-duration: 0.8s;

}




.From_Our_Blog .card_image img {

    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in;

}

.From_Our_Blog .card_image img:hover {

    transform: scale(1.3);

    transition-duration: 0.8s;

}

.blog_card_text {


    background-color: rgb(240, 237, 237);
    position: absolute;
    width: 95%;
    bottom: 0px;
    top: 180px;
    height: 60vh;
    left: 2rem;


}

.blog_card_text .text_holder {


    padding: 1.4rem 1.5rem;
}

.blog_card_text a {

    color: black;
    text-decoration: none;
}

.card_data {
    display: flex;
    flex-direction: column;

    width: 28%;
    height: 45vh;
    position: relative;

}





@media screen and (min-width: 1200px) and (max-width: 1439px) {

    .From_Our_Blog {
        flex-wrap: wrap;
    }

    .card_data {
        width: 22%;
        /* Adjust width for very large screens */
        margin-bottom: 2rem;
        /* Optional: Add margin between cards */
    }
}











/* grid .css */






@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=League+Spartan&family=Poppins:ital,wght@0,200;0,300;0,400;1,100&family=Space+Mono&family=Yellowtail&display=swap');


:root {

    --monospace: 'Space Mono', monospace;
}





.grid_card {
    width: 100%;

    height: auto;



}

.grid_card_text {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 5rem 0px;



}


.grid_card_text>p {

    color: silver;
}



.grid_card_hading {
    font-size: 2.4rem;
    font-family: var(--monospace);
    /* font-weight: bolder; */
    font-weight: 900;
}

.grid_card_para {
    margin-top: 1.5rem;

}

.grid_card_main {


    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-rows: 1fr 1fr;

    margin: 3rem 3rem;

    grid-column-gap: 40px;

}


.grid_card1 {

    grid-row: 1 / span 2;
}



.grid_card1 .grid_card_img {


    width: 100%;

}

.grid_card1 .grid_card_img img {

    width: 100%;
    height: 100%;
}


.grid_card1_text {

    position: relative;
    bottom: 17rem;
    color: whitesmoke;
    text-align: center;

}

.grid_card_hading {

    font-size: 2rem;

    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;

}


.grid_card_para {

    font-size: 1.1rem;
}

.grid_card_button {

    margin-top: 2rem;

    cursor: pointer;
}


.grid_card2 .grid_card2_img img {

    width: 100%;
    height: 100%;

}


.grid_card3 .grid_card_img img {

    width: 100%;

    height: 100%;

}


.grid_card3 {
    position: relative;
    bottom: 4rem;
}

.grid_card_button::after {

    content: "";
    width: 20%;
    height: 0.4vh;
    bottom: -0.5rem;
    right: 11rem;
    position: absolute;
    background-color: rgb(241, 235, 235);

    transition: all 0.5s ease-in;
}

.grid_card_button:hover::after {


    content: "";
    width: 50%;
    height: 0.4vh;
    bottom: -0.5rem;
    right: 7rem;
    position: absolute;
    background-color: rgb(241, 235, 235);

}


.grid_card1 .grid_card_img {

    overflow: hidden;

}


.grid_card1 .grid_card_img img:hover {

    transform: scale(1.1);
    transition: all 0.5s ease-in;
}




.grid_card2 .grid_card2_img {

    overflow: hidden;

}


.grid_card2 .grid_card2_img img:hover {

    transform: scale(1.1);
    transition: all 0.5s ease-in;
}





.grid_card3 .grid_card_img {

    overflow: hidden;

}


.grid_card3 .grid_card_img img:hover {

    transform: scale(1.2);
    transition: all 0.5s ease-in;
}

#icon {
    padding-left: 5px;
}

/* Media Query for Large Screen Desktops */
@media screen and (min-width: 1200px) and (max-width: 1439px) {
    /* Your existing CSS goes here */


    /* Adjustments for very large screens */

    /* Example adjustment for grid layout */
    .grid_card_main {
        margin: 5rem 10rem;
        /* Increase margin for more spacing */
    }

    /* Example adjustment for font size */
    .grid_card_hading {
        font-size: 3rem;
        /* Increase font size for better readability */
    }


    .grid_card_button::after {

        content: "";
        width: 20%;
        height: 0.4vh;
        bottom: -0.5rem;
        right: 13rem;
        position: absolute;
        background-color: rgb(241, 235, 235);

        transition: all 0.5s ease-in;
    }

    /* Add more adjustments as needed */


}












.shop_the_look {


    width: 100%;
    margin-top: 7rem;
    background-color: rgb(225, 225, 209);
    display: flex;
    flex-direction: column;
    align-items: center;



}


.shopthelook_headline {


    text-align: center;

    padding-top: 6rem;
}


.shopthelook_paragraph {


    width: 57%;
    text-align: center;
    margin-top: 1rem;
}

.shop_look_grid_item1 {

    width: 100%;
    height: 50vh;

    overflow: hidden;

    transition: all 0.5s ease-in;
    position: relative;
    transition: all 0.5s ease-in;

}


.shop_look_grid_item1 img {

    width: 100%;
    height: 100%;
    overflow: hidden;

}




@media screen and (min-width: 1200px) and (max-width: 1439px) {

    /* Adjustments for very large screens */
    .shopthelook_paragraph {
        width: 70%;
        /* Adjust as needed */
    }





}
















/* shop the look .css */



.shop_the_look_grid_layout {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    margin-top: 3rem;

    margin-left: 2rem;
    margin-right: 2rem;
}






.shop_look_grid_item1:before {

    content: "";
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.623);
    position: absolute;

    opacity: 0;

}




.shop_look_text {

    position: absolute;


    width: 100%;
    height: 50vh;
    opacity: 1;
    bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.2s ease-in;

}

.shop_look_text button {

    text-align: center;



    background-color: white;
    margin-top: 4rem;
    font-size: 0.9rem;
    font-family: poppins, sans-serif;
    padding: 0.6rem 1.5rem;
    outline: none;
    border: none;
    font-weight: bolder;
    cursor: pointer;
    position: relative;

    z-index: 100;
}


.shop_look_grid_item1:hover .shop_look_text {

    opacity: 1;
}

.shop_look_grid_item1:hover.shop_look_grid_item1:before {


    opacity: 1;
    z-index: 100;

}



.shop_look_grid_item1:hover img {

    transform: scale(1.2);
    transition-duration: 1s;

}









/* web video .css */







.web_video {

    border-right: 1px solid black;
    position: relative;

    width: 100%;

    margin-top: 2rem;

}

.video {

    width: 100%;

    object-position: center;
}

.web_video video {

    width: 100%;
    height: 100%;

}

.video_text {


    position: absolute;

    bottom: 5px;



    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.487);

}

.video_text {

    color: white;
}


.video_text button {

    text-align: center;


    margin-left: 425px;
    background-color: white;
    margin-top: 4rem;
    font-size: 0.9rem;
    font-family: poppins, sans-serif;
    padding: 0.6rem 1.5rem;
    outline: none;
    border: none;
    font-weight: bolder;
    cursor: pointer;

}





.v_text:before {

    content: "";

    width: 10%;
    height: 0.5vh;
    position: absolute;
    background-color: #d3cdcd;
    right: 450px;

    bottom: 285px;

}

.bi-arrow-right-short:hover {

    display: block;
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {

    /* Add your styles for very large desktop screens here */
    .video_text button {
        margin-left: 650px;
        /* Adjust according to your design */
    }

    .v_text:before {

        content: "";

        width: 10%;
        height: 0.5vh;
        position: absolute;
        background-color: #d3cdcd;
        right: 640px;

        bottom: 530px;

    }
}