.Featured_product{

    
    width: 100%;
    position: relative;
    

}

.Featured_hading{

    text-align: center;
    padding-top: 6.5rem;
    width: 100%;
}

.product_contaner{

    display: flex;
    justify-content: space-between;
    
}

.product_image{

    width: 46%;
    height: 100vh;
    margin-left: 2rem;
    margin-top: 2.8rem;
    overflow: hidden;
    
}

.product_image img{

    width: 100%;
    height: 100%;
}









.product_detail{


    width: 43%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:flex-start;
    
}


.product_link{
    
    
    font-size: 1.3rem;
    font-family: poppins sans-serif;
    font-weight: bold;
    color: rgb(16, 15, 15);
    
}

.product_link a{

    color: rgb(16, 15, 15);
    text-decoration: none;
}




.product_color_panel{

    display: flex;
    gap: 1rem;
    
}


.color_circle{

    border:1px solid black;
    width: 2.7vw;
    height: 5vh;
    border-radius: 50%;
    
}

.color_circle:nth-child(1){

    background-color:darkolivegreen;

}


.color_circle:nth-child(2){

    background-color:rgb(9, 8, 8);

}


.color_circle:nth-child(3){

    background-color:rgb(234, 108, 108);

}

.color_circle:nth-child(4){

    background-color:rgb(223, 211, 211);

}

.color_circle:nth-child(5){

    background-color:darkslateblue;

}


.product_panel_box{
    border:1px solid black;
    width: 3.5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}


.product_panel_box:nth-child(3){
    border:1px solid rgb(213, 209, 209);
    width: 7vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
justify-content: space-around;
background-color:rgba(231, 223, 223, 0.779);
color:rgba(173, 171, 171, 0.779);

}


.product_panel_box:nth-child(5){
    border:1px solid rgb(188, 188, 188);
    width: 7vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(231, 223, 223, 0.779);
    color:rgba(173, 171, 171, 0.779);

}


.product_size_panel{

    display: flex;
    gap: 1.2rem;
    
    width:40vw;
}


.product_add_to_bag{

    
    width: 30vw;
    height: 7.5vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 200, 200);
}

.product_add_to_bag a{

    text-decoration: none;
    color:black;
    font-family: poppins,sans-serif;
    font-weight: bolder;
}

.product_add_to_bag .bi-arrow-right{

    display: none;
}

.product_add_to_bag:hover{
    background-color:black;
    color:white;
}

.product_add_to_bag:hover a{

    color:white;
}

.product_add_to_bag:hover .bi-arrow-right{

    display: block;
    transition: all 0.5s ease-in;
}

.product_payment{
    background-color: rgb(246, 225, 120);
}

.product_payment:hover{
    background-color:rgba(247, 188, 78, 0.944);
    
}

.product_payment:hover a{
    color:black;
    
}



.curser_pointer{

    cursor: pointer;
}

.size_notyfy_box{

    
    width: 100%;
    height: 100%;
    position: absolute;
    top:100px;
    background-color:rgba(0, 0, 0, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.notyfybox{

    background-color: rgb(246, 242, 242);
    
    width: 60%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notyfybox input{

    width: 70%;
    height: 7vh;
    border:1px solid black;
    margin-top:2rem;
    text-align: center;
    
}

.notyfybox input:focus{

    outline: none;
}


.notyfybox button{

    width: 70%;
    height: 7vh;
    border:none;
    outline: none;
    margin-top: 0.9rem;
    font-size: 0.9rem;
    font-weight: bolder;
    font-family: 'poppins',sans-serif;
    background-color: #d5d1d1;
    cursor: pointer;

}


.notyfy_box_closer{

    
    position: relative;
    bottom: 40px;
    left:280px;
    cursor: pointer;
    
}

.notyfy_box_closer .bi:hover{

    color:red;
    
    transform: rotate(30deg);
}



@media screen and (min-width: 1200px) and (max-width: 1439px){


    .notyfy_box_closer{

    
        position: relative;
        bottom: 110px;
        left:400px;
        cursor: pointer;
        
        
    }

}







